


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #fff;
  }
  
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  ul{
    list-style: none;
  }

  a{
    text-decoration: none;
    color: black;
  }

  .navegador .nav-item {
    display: flex;
    padding: 20px;
    display: inline-block;
    list-style: none;
    margin-right: 10px;
    text-decoration: none;
  
  }

  .seccion-1{
    background-color: #006E55
  }

  .seccion-1 .habilidades{
    width: 50%;
    vertical-align: middle;

  }

  .seccion-1 .habilidades .imagen-habilidades{
    max-width: 100%;
  }

  .contenedor-texto1{
    color: white;
    text-align: center;
    width: 364px;
  }

  .contenedor-interno{
    display: inline-block;
    
}

.seccion-2 {
  background-color:#EF5450 ;
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
}
.objetivos{
  display: flex;
  
  

}
.imagen-objetivos {
  display: flex;
  width: 60%; 
  height: 100%;
}



.contenedor-texto2 {
  text-align: center;
  color: white;
  width: 100%; 
}

  
 
  
  section {
    padding: 20px;
  }
  
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }

  .h1{
    color: coral;
  }
  
  h2 {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  
  
  
  
  
  footer {
    background-color: #ccc;
    padding: 20px;
    text-align: center;
  }

  
  .seccion-flex-1 {
    color: white;
    background-color: #0044B4;
      display: flex;
      flex-direction: column; 
      justify-content: center; 
      align-items: center; 
      height: 300px; 
    }
    
  .h1 {
      margin-bottom: 20px; 
      color: white;
    }

  .seccion-flex{
    
    display: flex;

    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
}

.seccion-flex .lista{
  display: flex;
    list-style: none;
    align-items: center;
    gap: 40px;
}

  
.seccion-flex .lista .parrafo{
  
  font-weight: 700;
  color: black;
}

.seccion-flex .lista .parrafo:hover{
  
  color: green;

}

.cookie-banner {
  background-color: white;
  padding: 30px;
  border-top: 1px solid;
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
}

.cookie-banner .cookie-texto{
  font-weight: bold;
}

.contenedor-cookie-texto{
  flex-grow: 1;

}

.cookie-banner .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 20%; 
}

.cookie-banner .button-container .accept-cookies{
  background-color: black;
  color: white;
  font-weight: 700;
  padding: 10px 5px;
  border-radius: 25px;
  width: 100px;
  cursor: pointer;
}
.invisible{
  display: none;
}


